.Navbar_color {
	/* background-color: rgb(3, 0, 5); */
}
.navbar-dark .navbar-brand {
	color: red !important;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
	background-color: rgb(3, 0, 5) !important;
	border-color: rgb(148, 5, 5) !important;
}
